html
{
    font-size: 100%;

}

html, body
{  
    margin: 0;
    padding: 0;
}
h1
{
    font-size:4rem;
}
h2
{
    font-size: 3rem;
}
p
{
    font-size: 1.3rem;
}

.far
{
    font-size:5rem;
}
.main_wrapper
{
    display:flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}
header,.ctn-header
{
    display:flex;
    width:100%;
}
.third-header,.first-header
{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.second-header
{
    width:60%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.first-button,.third-button
{
    align-items: center;
    justify-content: center;
}
.ctn-header a
{
    margin: auto;
}
main,section
{
    width:100%;
}
section
{
    display:flex;
    flex-direction: column;
    
}
article
{
    display:flex;
    flex-direction: column;

}
footer
{
    display:flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 4rem;
}

footer a
{
    text-align: center;
}
.introduction
{
    display: flex;
    width:100%;
}
.introduction div
{
    width:100%;
    text-align: center;
}
.introduction p
{
    width: 80%;
    justify-content: center;
    margin: auto;
}
.comparaison
{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;

}
.avant, .apres
{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.avant img, .apres img
{
    width: 100%;
}
.bilan
{
    display: flex;
    width:100%;
}
.bilan div
{
    width:100%;
    text-align: center;
}
.bilan p
{
    width: 80%;
    justify-content: center;
    margin: auto;
}
.sommaire
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.sommaire div
{
    width:90%;
    margin: auto;
    text-align: center;
}
.main_wrapper
{
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.far
{
    color: black;
}
.far:visited
{
    color:rgb(58, 37, 5);
}
.far:hover
{
   
    color:rgb(180, 115, 17);
}
.comparaison
{
    margin: 4rem auto 1rem;
}
.bilan
{
    width: 100%;
    display:flex;
}
.bilan article
{
    width: 40%;
    display:flex;
}
.sous-bilan
{
    display: flex;
    justify-content: space-around;
}
img, h1 {
    border: solid black 4px;
}
h1 {
    background-color: rgb(6, 88, 88);
    border-radius: 20px;
    color: white;
}
body{
    background-color:  rgb(6, 88, 88);
}
h2{
    text-decoration: underline;
}
.fas{
    font-size: 2.2rem;
    border: solid black 8px;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 100px;
}
a {
    color: black;
}
a:hover {
    color:rgb(6, 88, 88);
    text-decoration: underline overline;
    font-weight: bold;
}